<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Emagicone_Connector::emagicone_connector"
             title="Store Manager"
             module="Emagicone_Connector"
             sortOrder="99"
             parent="Emagicone_Core::emagicone"
             resource="Emagicone_Connector::emagicone_connector"/>
        <add id="Emagicone_Connector::emagicone_connector_configuration"
             title="Connector Configuration"
             module="Emagicone_Connector"
             sortOrder="99"
             parent="Emagicone_Connector::emagicone_connector"
             action="adminhtml/system_config/edit/section/emagicone_connector"
             resource="Emagicone_Connector::emagicone_connector_configuration"/>
    </menu>
</config>